<div class="toolbar" role="banner">
    <img
      width="40"
      alt="Bracket Logo"
      src="https://images-ext-2.discordapp.net/external/5Wh8_Vl-TTR3wI44E830xarj2WQj8R-R2oNj1q2IXIg/https/i.imgur.com/pMICXkt.png"
    />
    <span>Bracket Creation Tool</span>
      <div class="spacer"></div>
  
  
    <div>
  
      <button mat-raised-button>Sign-In Page</button>

  
    </div>
  
  
  
      <div id="g_id_onload"
      data-client_id="92722828266-71b7tc9h054scl4ere92bcc3ken8ker3.apps.googleusercontent.com"
      data-context="signin"
      data-ux_mode="popup"
      data-login_uri="http://localhost:4200"
      data-nonce=""
      data-auto_prompt="false"
      data-callback="onSignIn">
  </div>
  
  <div class="g_id_signin"
      data-type="standard"
      data-shape="pill"
      data-theme="filled_black"
      data-text="signin_with"
      data-size="large"
      data-logo_alignment="left">
    </div>
  
  
  </div>
  